<%
# load the real user logged into
real_account = @login.whois.account
# load the order
oid = params[:oid]
o = BlackStack::DfyLeads::Order.where(:id=>oid).first
# getting the account of the user
account = BlackStack::Leads::Account.where(:id=>@login.user.id_account).first
# getting the user preferences
name = o.name #@login.user.preference("dfy-leads.orders.edit.name", o.name.to_i)
# sns url
url = o.url #@login.user.preference("dfy-leads.orders.edit.url", o.url.to_s)
# positive filter values
positive_keywords = o.search ? o.search.keywords.select { |o| o.positive }.map { |k| k.value }.join(',') : ''
positive_positions = o.search ? o.search.positions.select { |o| o.positive }.map { |p| p.value }.join(',') : ''
positive_industries = o.search ? o.search.industries.select { |o| o.positive }.map { |i| i.fl_industry.name }.join(',') : ''
positive_locations = o.search ? o.search.locations.select { |o| o.positive }.map { |l| l.value }.join(',') : ''
#positive_revenues = o.search ? o.search.revenues.select { |o| o.positive }.map { |r| r.fl_revenue.name }.join(',') : ''
positive_headcounts = o.search ? o.search.headcounts.select { |o| o.positive }.map { |h| h.fl_headcount.name }.join(',') : ''    
positive_engagements = o.search ? o.search.engagements.select { |o| o.positive }.map { |e| e.value }.join(',') : ''
# negative filter values
negative_keywords = o.search ? o.search.keywords.select { |o| !o.positive }.map { |k| k.value }.join(',') : ''
negative_positions = o.search ? o.search.positions.select { |o| !o.positive }.map { |p| p.value }.join(',') : ''
negative_industries = o.search ? o.search.industries.select { |o| !o.positive }.map { |i| i.fl_industry.name }.join(',') : ''
negative_locations = o.search ? o.search.locations.select { |o| !o.positive }.map { |l| l.value }.join(',') : ''
#negative_revenues = o.search ? o.search.revenues.select { |o| !o.positive }.map { |r| r.fl_revenue.name }.join(',') : ''
negative_headcounts = o.search ? o.search.headcounts.select { |o| !o.positive }.map { |h| h.fl_headcount.name }.join(',') : ''
negative_engagements = o.search ? o.search.engagements.select { |o| !o.positive }.map { |e| e.value }.join(',') : ''
#
posted_in_last_30_days = o.search ? o.search.posted_in_last_30_days==true : false
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span12">
		    <%=nav4("DFY Leads", "/dfy-leads", "Orders", "/dfy-leads/orders", o.name, "/dfy-leads/orders/#{o.id.to_guid}/edit", "Edit")%>
		</div>
	</section>
</div>

<section class="row-fluid">
    <div class="span12 box">
          <div class='span6'>
            <div class="form-horizontal">
                <form action="/dfy-leads/filter_edit_order" method="post" id='edit_order' name='edit_order'>
                    <input type="hidden" name="oid" value="<%=oid%>">

                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" id="name" name='name' class='input-block-level selected' placeholder="Write a descriptive name for your order." value='<%=name.to_s.encode_html%>' />
                        </div>
                    </div>
                    
                    <div class="control-group" id='link' name='link'>
                        <label class="control-label" for="name">Sales Navigator<br/>Search URL</label>
                        <div class="controls">
                            <input type="text" id="url" name='url' class='input-block-level' placeholder="Paste Sales Navitator Search Link here." value='<%=url.to_s.encode_html%>' <%=real_account.sysowner? ? '' : 'disabled'%> />
                            <p class=''>SysOwner only can edit this field.</p>
                        </div>
                    </div>
                </form>

                <div id='filters' name='filters'>        
                    <div class="control-group" id='keywords'>
                      <label class="control-label" for="keywords">Keywords</label>
                      <div class="controls">
                      <%
                      positive_keywords.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_keywords.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>  
                      </div>          
                    </div>
                    
                    <div class="control-group" id='positions'>
                      <label class="control-label" for="positions">Positions</label>
                      <div class="controls">
                      <%
                      positive_positions.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_positions.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>
                    
                    <div class="control-group" id='industries'>
                      <label class="control-label" for="industries">Industries</label>
                      <div class="controls">
                      <%
                      positive_industries.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_industries.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>
                    
                    <div class="control-group" id='locations'>
                      <label class="control-label" for="locations">Locations</label>
                      <div class="controls">
                      <%
                      positive_locations.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_locations.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>
                    
                    <%
                    if false
                    %>
                    <div class="control-group" id='revenues'>
                      <label class="control-label" for="revenues">Revenues</label>
                      <div class="controls">
                      <%
                      positive_revenues.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_revenues.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>
                    <%
                    end #if false
                    %>
                    
                    <div class="control-group" id='headcounts'>
                      <label class="control-label" for="headcounts">Headcounts</label>
                      <div class="controls">
                      <%
                      positive_headcounts.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_headcounts.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>    
                    
                    <div class="control-group" id='engagements'>
                      <label class="control-label" for="engagements">Engagements</label>
                      <div class="controls">
                      <%
                      positive_engagements.split(',').each { |s|
                        %>
                        <span class='label label-blue'><%=s.encode_html%></span>
                        <%
                      }
                      negative_engagements.split(',').each { |s|
                        %>
                        <span class='label label-red'><%=s.encode_html%></span>
                        <%
                      }
                      %>            
                      </div>          
                    </div>

                    <div class="control-group" id='posted_in_last_30_days'>
                      <label class="control-label" for="posted_in_last_30_days">Posted in Last 30 Days</label>
                      <div class="controls">
                        <span class='label label-<%=posted_in_last_30_days == true ? 'blue' : 'gray'%>'><%=posted_in_last_30_days == true ? 'yes' : 'no'%></span>
                      </div>          
                    </div>
                  </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-blue" id='save' name='save'>Save</button>
                    </div>
                </div>
            </div>
          </div>

          <div class='span6'>
              <div class='row-fluid'>
                  <!-- header -->
                  
                  <div class='span6'>
                      <%
                      if o.dfyl_id_parent
                      %>
                      <a href='#'><i class='icon-chevron-left'></i> Back to Parent</a>
                      <%
                      else
                      %>
                      <span style='color:gray;'><i class='icon-chevron-left'></i> No Parent</span>
                      <%
                      end
                      %>
                  </div>

                  <div class='span2' style='text-align:center;'>
                      <%
                      if o.status
                      %>
                      <span class='badge badge-green'>Running</span>
                      <%
                      else #if o.status
                      %>
                      <span class='badge badge-red'>Paused</span>
                      <%
                      end #if o.status
                      %>
                  </div>

                  <div class='span3' style='text-align:center;'>
                    <a href='/dfy-leads/filter_view_results?oid=<%=o.id.to_guid%>&verified_only=yes' title='View Results on <%=APP_NAME.to_s%>'>View Results</a>
                  </div>

                  <div class='span1' style='text-align:center;'>
                      <a title='Replicate Search on LinkedIn' href='<%=o.url.to_s.encode_html%>' target='_window'><i class='icon-linkedin'></i></a>
                  </div>

              </div>

              <%
              a = o.dfyl_stat_search_leads.to_i == 0 ? 0.to_i : (100.to_f * o.dfyl_stat_scraped_leads.to_f / o.dfyl_stat_search_leads.to_f).round.to_i
              b = o.dfyl_stat_scraped_leads.to_i == 0 ? 0.to_i : (100.to_f * o.dfyl_stat_leads_appended.to_f / o.dfyl_stat_scraped_leads.to_f).round.to_i
              %>
              <div class='widget-pie-charts'>
                <div class='box no-border non-collapsible'>
                  <div class="span3 pie-chart">
                    <div id="easy-pie-chart-1" data-percent="43" class="easyPieChart" style="width: 100px; height: 100px; line-height: 100px;">
                      <button class='btn btn-large btn-gray disabled'><%=o.dfyl_stat_search_leads.to_label%></button>
                    </div>
                    <div class="caption">
                      <a title='Replicate Search on LinkedIn' href='<%=o.url.to_s.encode_html%>' target='_window'>Search Scope</a>
                    </div>
                  </div>
  
                  <div class="span3 pie-chart">
                    <div id="easy-pie-chart-2" data-percent="58" class="easyPieChart" style="width: 100px; height: 100px; line-height: 100px;">
                      <%
                      if o.dfyl_stat_progress.to_i == 100
                      %>
                      <button class='btn btn-large btn-green disabled'>Completed <i class='icon-ok'></i></button>
                      <%
                      else
                      %>
                      <button class='btn btn-large btn-black disabled'><%=o.dfyl_stat_progress.to_i.to_s.encode_html%>%</button>
                      <%
                      end
                      %>
                    </div>
                    <div class="caption">
                      Progress
                    </div>
                  </div>
                  
                  <div class="span3 pie-chart">
                    <div id="easy-pie-chart-3" data-percent="43" class="easyPieChart" style="width: 100px; height: 100px; line-height: 100px;">
                      <button class='btn btn-large btn-orange disabled'><%=o.dfyl_stat_scraped_leads.to_label%></button>
                    </div>
                    <div class="caption">
                      <%=a.to_s%>% Scraped
                    </div>
                  </div>
        
                  <div class="span3 pie-chart">
                    <div id="easy-pie-chart-4" data-percent="91" class="easyPieChart" style="width: 100px; height: 100px; line-height: 100px;">
                      <button class='btn btn-large btn-green disabled'><%=o.dfyl_stat_leads_appended.to_label%></button>
                    </div>
                    <div class="caption">
                      <a href='/dfy-leads/filter_view_results?oid=<%=o.id.to_guid%>&verified_only=yes' title='View Results'><%=b.to_s%>% Appended</a>
                    </div>
                  </div>        
                </div>   
              </div>
          </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        // submit the form #edit_order when clock on the button #save
        $('#save').click(function() {
            $('#edit_order').submit();
        });
    });
</script>